<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.vacancy['title'] %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Shift Times:</strong>
    <%= job.shift_starts_on %> - <%= job.shift_ends_on %>
  </p>

   <p>
    <strong>Spots:</strong>
    <%= "#{job.taken_spots} / #{job.spots}" %>
  </p>

  <p>
    <strong>UUID:</strong>
    <%= "#{job.uuid}" %>
  </p>

</div>
