<h1>New Animal</h1>

<%= form_with(url: internal_animals_path, method: :post) do |form| %>
  <div>
    <%= form.label :uuid %>
    <%= form.text_field :uuid, value: @uuid, readonly: true %>
  </div>

  <div>
    <%= form.label :registered_by %>
    <%= form.text_field :registered_by %>
  </div>

  <div>
    <%= form.submit 'Register Animal' %>
  </div>
<% end %>